# Ignore everything
*

# Allow directories leading to the files you want to keep
!clang/
!clang/include/
!clang/include/clang/
!clang/include/clang/AST/
!clang/include/clang/AST/Stmt.h

!clang/lib/
!clang/lib/CodeGen/
!clang/lib/CodeGen/*
!clang/lib/Parse/
!clang/lib/Parse/ParseStmt.cpp


!llvm/
!llvm/projects/
!llvm/projects/llvm-cbe/
!llvm/projects/llvm-cbe/lib/
!llvm/projects/llvm-cbe/lib/Target/
!llvm/projects/llvm-cbe/lib/Target/CBackend/
!llvm/projects/llvm-cbe/lib/Target/CBackend/CBackend.cpp
!llvm/projects/llvm-cbe/lib/Target/CBackend/CBackend.h

!/run*.sh

!/.gitignore